@import '@/styles/helpers/modular-typography.module.scss';
@import '@/styles/variables/colors.module.scss';
@import '@/styles/variables/typography.module.scss';

.container {
  margin-bottom: 1rem * $blh;
}

.alertContainer {
  margin-bottom: 0.5rem * $blh;
}

.inputIcon {
  font-size: inherit !important;
  fill: $color-text-tertiary !important;
}

.progressBarContainer {
  margin-bottom: 0.5rem * $blh;
}

.passwordFeedback {
  list-style-position: inside;
  color: $color-text-tertiary;
  @include s1;

  &__checkmark {
    font-size: inherit;
    color: $color-ui-primary;
    margin-left: 5px;
  }
}
