@import '@/styles/variables/colors.module.scss';
@import '@/styles/variables/typography.module.scss';

.one,
.zero {
  height: $blh * 0.5rem;
}

.zero {
  background-color: $color-text-tertiary;
  opacity: 0.3;
}

.one {
  background-color: $color-ui-primary;

  &.one--secondary {
    background-color: $color-ui-secondary;
  }
}