@import '@/styles/variables/colors.module.scss';

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loader {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__icon {
    fill: $color-canvas-secondary;
    padding: 5px;
    border-radius: 50%;
    outline: 2px solid $color-canvas-secondary;
    animation: spin infinite 2s linear;
  }
}
