@import '@/styles/themes/button-theme.module.scss';

.button {
  @include button;

  &.button--secondary {
    color: $color-text-tertiary;
    background-color: $color-canvas-secondary-dim;
    border-color: $color-canvas-secondary-dim;

    &:focus {
      border: 2px solid $color-text-tertiary;
      outline: none;
    }

    &:active {
      background-color: $color-canvas-primary;
    }
  }

  &.button--tertiary {
    background-color: $color-ui-danger;
    border-color: $color-ui-danger;

    &:active {
      color: $color-ui-danger;
      background-color: $color-canvas-primary;
      border-color: $color-ui-danger;
      outline: none;
    }
  }

  &__icon {
    position: absolute;
    left: 0.5rem * $blh;
  }
}
