@import '@/styles/helpers/modular-typography.module.scss';
@import '@/styles/variables/colors.module.scss';
@import '@/styles/variables/typography.module.scss';
@import '@/styles/variables/ui.module.scss';

.errorWrapper {
  margin-bottom: $blh * 1.5rem;
}

.list {
  list-style-type: none;
}

.listItem {
  margin-bottom: $blh * 1.5rem;
  display: flex;

  &__plant {
    width: 100%;
  }

  &__button {
    @include s2;
    font-weight: 700;
    color: $color-text-secondary;
    background-color: $color-ui-primary;
    border: none;
    border-radius: $border-radius;
    cursor: pointer;
  }
}
