@import '@/styles/helpers/modular-typography.module.scss';
@import '@/styles/variables/colors.module.scss';

.table {
  width: 100%;

  &__heading {
    @include s1;
    text-align: center;
    color: $color-text-tertiary;
    font-weight: 300;
  }
}
