@import '@/styles/variables/colors.module.scss';

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  background-color: $color-canvas-primary;
  border-radius: 4px;
  outline: 2px solid $color-canvas-secondary;

  &.logo--spin {
    animation: spin infinite 2s linear;
  }

  &__icon {
    fill: $color-canvas-secondary !important;
  }
}
