$color-canvas-primary: #fff;
$color-canvas-secondary: #112d5a;
$color-canvas-secondary-dim: #233c64;

$color-text-primary: #000;
$color-text-secondary: $color-canvas-primary;
$color-text-tertiary: #7a8ca2;

$color-ui-primary: #49c77d;
$color-ui-danger: #c84b41;
$color-ui-success: $color-ui-primary;

