@import '@/styles/variables/colors.module.scss';

.button {
  display: inline-block;
  background-color: transparent;
  border: none;

  &__icon {
    fill: $color-text-tertiary;
    font-size: inherit;
    vertical-align: middle;
  }
}
