@import '@/styles/helpers/modular-typography.module.scss';
@import '@/styles/variables/colors.module.scss';

.button {
  display: flex;
  justify-content: right;
  width: 100%;
  @include t4;
  color: $color-text-secondary;
  background-color: $color-canvas-secondary;
  padding: $blh * 0.5rem 20px;
  border: 2px solid $color-canvas-secondary;

  &:hover {
    cursor: pointer;
    background-color: $color-ui-primary;
    color: $color-text-secondary;
  }

  &:focus {
    border-color: $color-ui-primary;
    outline: none;
  }

  &.button--icon {
    width: auto;
    padding: $blh * 0.25rem 20px;
  }

  &__icon {
    margin-right: 5px;
  }
}
